<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{116,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,103}}</string>
                <key>sourceSize</key>
                <string>{116,103}</string>
            </dict>
            <key>jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,323},{121,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,126}}</string>
                <key>sourceSize</key>
                <string>{121,126}</string>
            </dict>
            <key>jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,368},{120,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,116}</string>
            </dict>
            <key>jump_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{115,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,128}}</string>
                <key>sourceSize</key>
                <string>{115,128}</string>
            </dict>
            <key>roll_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{133,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,91}}</string>
                <key>sourceSize</key>
                <string>{133,91}</string>
            </dict>
            <key>roll_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,79}}</string>
                <key>sourceSize</key>
                <string>{178,79}</string>
            </dict>
            <key>run_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,226},{112,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,127}}</string>
                <key>sourceSize</key>
                <string>{112,127}</string>
            </dict>
            <key>run_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,115},{112,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,128}}</string>
                <key>sourceSize</key>
                <string>{112,128}</string>
            </dict>
            <key>run_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{114,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,130}}</string>
                <key>sourceSize</key>
                <string>{114,130}</string>
            </dict>
            <key>run_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,205},{116,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,128}}</string>
                <key>sourceSize</key>
                <string>{116,128}</string>
            </dict>
            <key>run_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{116,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,126}}</string>
                <key>sourceSize</key>
                <string>{116,126}</string>
            </dict>
            <key>run_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,446},{116,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,124}}</string>
                <key>sourceSize</key>
                <string>{116,124}</string>
            </dict>
            <key>run_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,115},{109,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,129}}</string>
                <key>sourceSize</key>
                <string>{109,129}</string>
            </dict>
            <key>run_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,340},{108,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,125}}</string>
                <key>sourceSize</key>
                <string>{108,125}</string>
            </dict>
            <key>run_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,95},{108,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,130}}</string>
                <key>sourceSize</key>
                <string>{108,130}</string>
            </dict>
            <key>run_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{111,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,130}}</string>
                <key>sourceSize</key>
                <string>{111,130}</string>
            </dict>
            <key>run_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,245},{117,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,121}}</string>
                <key>sourceSize</key>
                <string>{117,121}</string>
            </dict>
            <key>run_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{114,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,129}}</string>
                <key>sourceSize</key>
                <string>{114,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Hero02.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffefccda71469f03bb443034e57e40b1$</string>
            <key>textureFileName</key>
            <string>Hero02.png</string>
        </dict>
    </dict>
</plist>
